
body {
    background-color: #2AB6DB;
}
.container {display: inline-block;
    width: 800px;
    
    margin-left: calc((100% - 800px) / 2);
    margin-top: 100px;

}
 .left-column {display: inline-block;
width: 40%;
background-color: #2B92DE;
float: left;
padding: 40px;
}

.main-title {display: inline-block;
    width: 100%;

}
.bottom-links {display: inline-block;
    width: 100%;

}
.bottom-links > a {display: inline-block;

}
.symbol {display: inline-block;

}
.right-column {display: inline-block;
    width: 60%;
    background-color: white;
    float: left;
    padding: 60px;

}
.close  {display: inline-block;
    background-color: red;

}
.form {display: inline-block;
    width: 100%;

}
.form-row {display: inline-block;
    width: 100%;
    margin-bottom: 30px;

}
.form-row:last-of-type {margin-bottom: 0;
}
label {display: inline-block;
    width: 100%;

}
input {display: inline-block;
    width: 100%;

}
.btn {
background-color: blue;
color: white;
padding: 10px 50px;
    border-radius: 20px;
}
.text {

}
.form-row > .link {
float: right;
}



