/*  TODO pagrindinis turinys turi buti centruotas horiznaliai o poto ertikaliai */


main {display: inline-block;
    width: 800px;
    background-color: red;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 100px;

}
div:nth-of-type(1) {display: inline-block;
width: 40%;
background-color: aqua;
float: left;
padding: 40px;
}

h1 {display: inline-block;
    width: 100%;

}
footer {display: inline-block;
    width: 100%;

}
a {display: inline-block;

}
span {display: inline-block;

}
div:nth-of-type(2) {display: inline-block;
    width: 60%;
    background-color: brown;
    float: left;

}
