
body {
    background-color: #2AB6DB;
}
.container {display: inline-block;
    width: 800px;
    
    margin-left: calc((100% - 800px) / 2);
    margin-top: 100px;

}
 .left-column {display: inline-block;
width: 40%;
background-color: #2B92DE;
float: left;
padding: 40px;

}

.main-title {display: inline-block;
    width: 100%;
    color: white;

}
.bottom-links {display: inline-block;
    width: 100%;

}
.bottom-links > .link {display: inline-block;
    color: white;

}
.symbol {display: inline-block;
    color: white;

}
.right-column {display: inline-block;
    width: 60%;
    background-color: white;
    float: left;
    padding: 60px;

}
.close  {display: inline-block;
    background-color: red;

}
.form {display: inline-block;
    width: 100%;

}
.form-row {display: inline-block;
    width: 100%;
    margin-bottom: 30px;

}
.form-row:last-of-type {margin-bottom: 0;
}
label {display: inline-block;
    width: 100%;
    text-transform: uppercase;
    color: #999;
    font-size: 14px;

}
input {display: inline-block;
    width: 100%;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid grey;
    line-height: 30px;

}
.btn {display: inline-block;
    background-color: #045bdf ;
    color: #fff;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    border-radius: 20px;
    line-height: 20px;
    border: none;
    text-transform: capitalize;

}
.btn:hover {
    background-color: aqua;
}
.text {display: inline-block;
    padding: 10px;
    line-height: 20px;
    padding-right: 0;
    

}
.form-row > .link {display: inline-block;
    padding: 10px;
    line-height: 20px;
    color: #045bdf ;
    text-decoration: none;
    

}



